@{
    ViewData["Title"] = "Página Principal";
}

<!-- Configuración del título y contenido principal de la página principal, incluyendo un enlace y un script de FontAwesome.-->
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        <a href="https://www.insitel.com/" class="btn btn-info btn-sm" target="_blank">
            <i class="fas fa-book"></i> Desarrollo ASP.net CORE para INSITEL 
        </a>
    </p>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
